* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 100%;
  padding: 50px;
  margin: auto;
}
.max-width a {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: -500px;
  margin-top: 35px;
}
span {
  color: blue;
}
.navbar {
  position: relative;
  width: 100%;
  padding: 22px, 0;
  height: 250px;
  background-color: turquoise;
}
.navbar .max-width {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  height: auto;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: rgb(67, 99, 72);
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 25px;
}
.navbar .menu li a:hover {
  color: brown;
}
a:hover {
  color: darkmagenta;
}
span:hover {
  color: antiquewhite;
}
/* Home Section */
.home {
  display: flex;
  background: url(image/banner.jpg) no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  color: red;
  font-family: "Monserrat" sans-serif;
  height: 100vh;
  min-height: 500px;
}
